{% include "header.html" %}

<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">{{language.WEB1.Title}}</div>
                <div class="page-subtitle">{{language.WEB1.Info}}</div>
            </div>
        </div>
    </div>
</div>
<div id="sub-pricing" class="container-fluid">
    <div class="hosting-icon green-color"><i class="hsto hsto-technology"></i></div>
    <div class="container green-accent">
        <div class="row">
            <!--START-->
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box blue-after">
                    <div class="pricing-icon"></div>
                    <div class="pricing-title">{{language.WEB1.T}}</div>
                    <div class="pricing-amount">
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">{{language.WEB1.Money}}</span>
                            <span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            {{language.WEB1.Infomation}}
                            <!--
                            <li>Unlimited Storage</li>
                            <li>500 Protected Files</li>
                            <li>All Sharing Features</li>
                            <li>Realtime Revoke</li>
                            <li>Access to Party Integrations</li>
                            <li class="not-supported">Free Native Apps</li>
                            <li class="not-supported">QNote Editor</li>
                            <li class="not-supported">Offline File Access</li>
                            <li class="not-supported">Single Sign on</li>
                            <li class="not-supported">Unlimited Email accounts</li>
                            <li class="not-supported">Support 24/7</li>
                            <li class="not-supported">Linux server</li>
                            -->
                        </ul>
                    </div>
                    <div class="pricing-button"><a href="#" class="blue-button">{{language.WEB1.BUY}}</a></div>
                </div>
            </div>
            <!--END-->







            <!--START-->
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box blue-after">
                    <div class="pricing-icon"></div>
                    <div class="pricing-title">{{language.WEB1.T}}</div>
                    <div class="pricing-amount">
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">{{language.WEB1.Money}}</span>
                            <span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            CentOS 6.6
                            <!--
                            <li>Unlimited Storage</li>
                            <li>500 Protected Files</li>
                            <li>All Sharing Features</li>
                            <li>Realtime Revoke</li>
                            <li>Access to Party Integrations</li>
                            <li class="not-supported">Free Native Apps</li>
                            <li class="not-supported">QNote Editor</li>
                            <li class="not-supported">Offline File Access</li>
                            <li class="not-supported">Single Sign on</li>
                            <li class="not-supported">Unlimited Email accounts</li>
                            <li class="not-supported">Support 24/7</li>
                            <li class="not-supported">Linux server</li>
                            -->
                        </ul>
                    </div>
                    <div class="pricing-button"><a href="#" class="blue-button">{{language.WEB1.BUY}}</a></div>
                </div>
            </div>
            <!--END-->



















            <!--
            
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box blue-after best-seller">
                    <div class="pricing-icon"></div>
                    <div class="pricing-title">Gurus Plan</div>
                    <div class="pricing-amount">
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">58.9</span>
                            <span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Unlimited Storage</li>
                            <li>500 Protected Files</li>
                            <li>All Sharing Features</li>
                            <li>Realtime Revoke</li>
                            <li>Access to Party Integrations</li>
                            <li>Free Native Apps</li>
                            <li>QNote Editor</li>
                            <li>Offline File Access</li>
                            <li class="not-supported">Single Sign on</li>
                            <li class="not-supported">Unlimited Email accounts</li>
                            <li class="not-supported">Support 24/7</li>
                            <li class="not-supported">Linux server</li>
                        </ul>
                    </div>
                    <div class="pricing-button"><a href="#" class="blue-button">I am guru</a></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="pricing-box blue-after">
                    <div class="pricing-icon"></div>
                    <div class="pricing-title">Heros Plan</div>
                    <div class="pricing-amount">
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">288.9</span>
                            <span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Unlimited Storage</li>
                            <li>500 Protected Files</li>
                            <li>All Sharing Features</li>
                            <li>Realtime Revoke</li>
                            <li>Access to Party Integrations</li>
                            <li>Free Native Apps</li>
                            <li>QNote Editor</li>
                            <li>Offline File Access</li>
                            <li>Single Sign on</li>
                            <li>Unlimited Email accounts</li>
                            <li>Support 24/7</li>
                            <li>Linux server</li>
                        </ul>
                    </div>
                    <div class="pricing-button"><a href="#" class="blue-button">Interested.</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
-->



<!--
<div id="platforms" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Hostio Web Hosting Plans works with all your favorite website platforms,<br>
including WordPress, SquareSpace, Joomla, Drupal, Magento, and Unbounce. 
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="platforms-list left-list">
                    <li>
                        <div class="platform-link active" data-pid="1">
                            <div class="tool-tip">Unbounce</div>
                            <img src="./images/unbounce.png" alt="unbounce" />
                        </div>
                    </li>
                    <li>
                        <div class="platform-link" data-pid="2">
                            <div class="tool-tip">Wordpress</div>
                            <img src="./images/wordpress.png" alt="wordpress" />
                        </div>
                    </li>
                    <li>
                        <div class="platform-link" data-pid="3">
                            <div class="tool-tip">Drupal</div>
                            <img src="./images/drupal.png" alt="drupal" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div id="browser">
                    <div class="webpage">
                        <img id="p1" class="active" src="./images/unbounce-page.jpg" alt="unbounce"/>
                        <img id="p2" src="./images/wordpress-page.jpg" alt="wordpress"/>
                        <img id="p3" src="./images/drupal-page.jpg" alt="drupal"/>
                        <img id="p4" src="./images/squarespace-page.jpg" alt="squarespace"/>
                        <img id="p5" src="./images/joomla-page.jpg" alt="joomla"/>
                        <img id="p6" src="./images/magento-page.jpg" alt="magento"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="platforms-list right-list">
                    <li>
                        <div class="platform-link" data-pid="4">
                            <div class="tool-tip">Squarespace</div>
                            <img src="./images/squarespace.png" alt="squarespace" />
                        </div>
                    </li>
                    <li>
                        <div class="platform-link" data-pid="5">
                            <div class="tool-tip">Joomla</div>
                            <img src="./images/joomla.png" alt="joomla" />
                        </div>
                    </li>
                    <li>
                        <div class="platform-link" data-pid="6">
                            <div class="tool-tip">Magento</div>
                            <img src="./images/magento.png" alt="magento" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div id="get-started" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text">Get started now. Try Hostio Free for 10 days.</div>
                <a href="#" class="gstart">Get Started</a>
            </div>
        </div>
    </div>
</div>
-->
{% include "footer.html" %}
