<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>Hostio</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="full-page">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="signin-signup-form">
                    <a href="index"><img class="logo" src="./images/logo-white.png" alt="Hostio" /></a>
                    <div class="form-title">{{language.LOGIN.formtitle}}</div>
                    <form  action="loginapi" method="post">
                        <div class="form-text">
                            <input type="text" name="user" placeholder="{{language.LOGIN.Username}}" required>
                        </div>
                        <div class="form-text">
                            <input type="password" name="pw" placeholder="{{language.LOGIN.Password}}" required>
                        </div>
                        <div class="form-button">
                            <input id="submit" type="submit" value="{{language.LOGIN.Login}}">
                        </div>
                    </form>
                    <div class="links-holder"><a href="register">{{language.LOGIN.Createaccount}}</a> or <a href="index">{{language.LOGIN.BacktoHomepage}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
