{% include "header.html" %}


<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">News</div>
                <div class="page-subtitle"></div>
            </div>
        </div>
    </div>
</div>
<div id="page-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="article-box">
                    <div class="article-title">
                        <a href="article"><h5>您应该了解的 3 个小而强大的更新</h5></a>
                    </div>
                    <div class="article-info">Posted by <a href="#">FlyKO</a> on June 27, 2021</div>
                    <div class="article-text">
                        <p>多种Panel支持</p>
                    </div>
                </div>
                <!--Template-->
                <div class="article-box">
                    <div class="article-title">
                        <a href="article"><h5>您应该了解的 3 个小而强大的更新</h5></a>
                    </div>
                    <div class="article-info">Posted by <a href="#">FlyKO</a> on June 06, 2016</div>
                    <div class="article-text">
                        <p>T</p>
                    </div>
                </div>

                
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
