{% include "header.html" %}

<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">{{language.SUPPORT.title}}</div>
                <div class="page-subtitle">{{language.SUPPORT.p1}} <a href="register">signed up</a> for an account.</div>
            </div>
        </div>
    </div>
</div>
<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="col-title-blue">{{language.SUPPORT.p2}}</div>
                <div class="help-image-holder"><img class="help" src="./images/help.png" alt="help" /></div>
            </div>
            <div class="col-md-5">
                <div class="col-title">{{language.SUPPORT.p3}}</div>
                <div class="support-box green-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">{{language.SUPPORT.CommunitySupport.title}}</a></div>
                    <div class="support-box-details">
                       {{language.SUPPORT.CommunitySupport.p1}}
                    </div>
                </div>
                <div class="support-box yellow-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">{{language.SUPPORT.EmailSupport.title}}</a></div>
                    <div class="support-box-details">
                        {{language.SUPPORT.EmailSupport.p1}}
                    </div>
                </div>
                <div class="support-box purple-support-box">
                    <div class="support-box-title"><i class="fa fa-link" aria-hidden="true"></i><a href="#">{{language.SUPPORT.DomainNames.title}}</a></div>
                    <div class="support-box-details">
                        {{language.SUPPORT.DomainNames.p1}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-padding-top">
                <div class="col-title">{{language.SUPPORT.title2}}</div>
                <div id="faq-questions">
                    <div class="faq-question-holder active">
                        <div class="faq-question">
                            {{language.SUPPORT.Qzc}}
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <!---
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            What makes Hostio standout from other hosting providers?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            What type of Hosting do I need?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                    <div class="faq-question-holder">
                        <div class="faq-question">
                            How can you help me and how can I reach your support?
                        </div>
                        <div class="faq-answer">
                            At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis praesentium voluptatum deleniti llitia animi,  At vero eos et accusamus et Main iusto odio dignissimos.
                        </div>
                    </div>
                -->
                </div>
            </div>
            <div class="col-md-5 col-padding-top">
                <div class="col-title">{{language.SUPPORT.UsefulLinks}}</div>
                <!--
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
                
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
                
                <a href="#"><h4>Website issue</h4></a>
                <p>At vero eos et accusamus et iusto odio dignissimos  ducimus qui blanditiis. praesentium voluptatum deleniti llitia animi, At vero eos et accusamus et Main iusto odio dignissimos.</p>
                -->
            
            </div>
        </div>
    </div>
</div>
<!--
<div id="search-text" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-search-holder">
                    <form id="text-search">
                        <input type="text" name="search" placeholder="How can we help you today?" />
                        <input type="submit" name="submit" value="Find out" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->

{% include "footer.html" %}

    