{% include "header.html" %}

<div id="top-content" class="container-fluid inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">Terms and Conditions</div>
                <div class="page-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
        </div>
    </div>
</div>
<div id="page-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <P>Etiam sed fermentum lectus. Quisque vitae ipsum libero. Phasellus sit amet vehicula arcu. Etiam pulvinar dui libero, vitae fringilla nulla convallis in.<br />
Fusce sagittis cursus nisl, at consectetur elit vestibulum vestibulum:
                </P>
                <ul>
                    <li>Maecenas mattis ex eu elit tincidunt egestas.</li>
                    <li>Sed dapibus arcu eget egestas hendrerit.</li>
                </ul>
                
                <h4>Maecenas mattis</h4>
                <p>Aenean egestas eu odio vestibulum vestibulum. Duis nulla lectus, lacinia vitae nibh vitae, sagittis interdum lacus.</p>
                
                <h4>Duis nulla</h4>
                <p>Morbi libero tortor, interdum fermentum justo et, mollis interdum justo. Morbi a accumsan urna. Mauris interdum molestie arcu, vitae venenatis risus consequat ac.<br /> Maecenas euismod diam vel ligula vulputate porttitor. Duis semper nisi tempus enim laoreet, vitae hendrerit neque commodo.</p>

                <p>Vivamus quis nibh sit amet risus rutrum blandit. Maecenas ligula sapien, pharetra eu tincidunt ut, euismod sit amet sapien. Pellentesque blandit, est id sodales tincidunt, libero ex iaculis arcu, sed lacinia felis metus eu erat.</p>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
